<!doctype html>
<html ng-app="craniowebapifront">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cranio</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"><!-- load bootstrap -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script><!-- load jquery -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script><!-- load angular -->
    <script src="core.js"></script>
</head>
<body ng-controller="mainController">
	<div class="container">
		<header>
			<h1>CranioCalculatorApp Admin</h1>
		</header>
		<section>
			<!--
				<div class="form-group">
					<label for="sistemas">Sistema</label>
					<select id="sistemas" name="sistemas" class="form-control" ng-model="artigo.sistema">
						<option value="sistema">--Escolha o sistema--</option>
						<option ng-repeat="r in registros" ng-value="{{r.Id}}">{{r.AreaNome}}</option>
					</select>
				</div>
			-->
			<table class="table table-bordered">
				<thead>
					<tr>
						<td>Id</td>
						<td>AreaNome</td>
						<td>CutPointNome</td>
						<td>Operador</td>
						<td>CutPointValor</td>
						<td>Feminino</td>
						<td>Masculino</td>
						<td>Ordenador</td>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="r in registros" ng-value="{{r.Id}}">
						<td>{{r.Id}}</td>
						<td>{{r.AreaNome}}</td>
						<td>{{r.CutPointNome}}</td>
						<td>{{r.Operador}}</td>
						<td>{{r.CutPointValor}}</td>
						<td>{{r.Feminino}}</td>
						<td>{{r.Masculino}}</td>
						<td>{{r.Ordenador}}</td>
					</tr>
				</tbody>
			</table>
				
			<!-- <h4>Medidas Cranianas Superiores</h4>
			<p>AreaNome: {{ superiores.AreaNome }}</p>
			<p>CutPointNome: {{ superiores.CutPointNome }}</p>
			<p>Operador: {{ superiores.Operador }}</p>
			<p>CutPointValor: {{ superiores.CutPointValor }}</p>
			<p>Feminino: {{ superiores.Feminino }}</p>
			<p>Masculino: {{ superiores.Masculino }}</p>
			<p>Ordenador: {{ superiores.Ordenador }}</p> -->
			</section>
		<footer></footer>
	</div>
</body>
</html>