<!doctype html>
<html ng-app="cradmin">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cranio</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"><!-- load bootstrap -->
    <!--<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>-->
    <script src="/js/angular/angular.min.js"></script>
    <script src="core.js"></script>
</head>
<body ng-controller="mainController">
	<div class="container">
		<header>
			<!-- <h1>CranioCalculatorApp Admin</h1> -->
			<h1>admin</h1>
		</header>
		<section>
			<table class="table table-bordered">
				<thead>
					<tr>
						<td>Id</td>
						<td>AreaNome</td>
						<td>CutPointNome</td>
						<td>Operador</td>
						<td>CutPointValor</td>
						<td>Feminino</td>
						<td>Masculino</td>
						<td>Ordenador</td>
					</tr>
				</thead>
				<tbody id="tabela-corpo">
					<tr ng-repeat="r in registros" ng-value="{{r.Id}}">
						<td>{{r.Id}}</td>

						<td>
							<input type="text" ng-model="r.AreaNome" id="areaNome" ng-style="estiloPadrao" ng-readonly="!editavel" ng-click="editarParametro(r)" ng-focus="editarParametro(r)" ng-blur="parouEditarParametro(r)" style='width: 300px;'>
						</td>

						<td>
							<input type="text" ng-model="r.CutPointNome" id="cutPointNome" ng-style="estiloPadrao" ng-readonly="!editavel" ng-click="editarParametro(r)" ng-focus="editarParametro(r)" ng-blur="parouEditarParametro(r)" style='width: 60px;'>
						</td>

						<td>
							<input type="text" ng-model="r.Operador" id="operador" ng-style="estiloPadrao" ng-readonly="!editavel" ng-click="editarParametro(r)" ng-focus="editarParametro(r)" ng-blur="parouEditarParametro(r)" style='width: 60px;'>
						</td>

						<td>
							<input type="text" ng-model="r.CutPointValor" id="cutPointValor" ng-style="estiloPadrao" ng-readonly="!editavel" ng-click="editarParametro(r)" ng-focus="editarParametro(r)" ng-blur="parouEditarParametro(r)" style='width: 70px;'>
						</td>

						<td>
							<input type="text" ng-model="r.Feminino" id="feminino" ng-style="estiloPadrao" ng-readonly="!editavel" ng-click="editarParametro(r)" ng-focus="editarParametro(r)" ng-blur="parouEditarParametro(r)" style='width: 80px;'>
						</td>

						<td>
							<input type="text" ng-model="r.Masculino" id="masculino" ng-style="estiloPadrao" ng-readonly="!editavel" ng-click="editarParametro(r)" ng-focus="editarParametro(r)" ng-blur="parouEditarParametro(r)" style='width: 80px;'>
						</td>

						<td>
							<input type="text" ng-model="r.Ordenador" id="ordenador" ng-style="estiloPadrao" ng-readonly="!editavel" ng-click="editarParametro(r)" ng-focus="editarParametro(r)" ng-blur="parouEditarParametro(r)" style='width: 70px;'>
						</td>
					</tr>
				</tbody>
			</table>
			<button type="button" class="btn btn-primary" ng-click="adicionarRegistro()">Adicionar</button>
		</section>
		<footer></footer>
	</div>
</body>
</html>